#for loop

#here, indexing is allowed and it will only work.

In [ ]:
#WAP to add 1 to every element of a list using for loop and get output in the form of list only .

In [1]:
l=[1,2,3,4,5,6,7,8,9]

In [10]:
l1=[]
for i in l:
  print (i+1)
  l1.append(i+1)
l1

2
3
4
5
6
7
8
9
10

[2, 3, 4, 5, 6, 7, 8, 9, 10]

wap to give input in a list and print output in uppercase .

In [13]:
l3=["sudh","kumar","pwskills","course"]

In [15]:
l1=[]
for i in l3:
  print (i)
  l1.append(i.upper())
l1

sudh
kumar
pwskills
course

['SUDH', 'KUMAR', 'PWSKILLS', 'COURSE']

# given a data , you have to create 2 separate lists from one list.

In [16]:
l1_num=[]
l2_str=[]
l4=[1,2,3,4,4,"sudh","kumar",324,34.56,"abc"]
for i in l4:
  if type(i)==int or type(i)==float:
    l1_num.append(i)
  else:
    l2_str.append(i)
print (l1_num)
print(l2_str)

[1, 2, 3, 4, 4, 324, 34.56]
['sudh', 'kumar', 'abc']